:root {
  /* Colours */
  --color-bg: #d7d1c5; /* page background /*

  /* Header */
  --color-head-bg: #5f4477;

  /* Logotype */
  --color-logotype-bg: #a5161b;
  --color-text-logotype: #fff;
  --font-logotype-size: 2rem;

  /* Global menu */
  --color-menu-bg: #c0a9d5;
  /* Links */
  --color-link-bg: #726157;
  --color-link-hover: #fff; /* used */
  --color-link-active: #726172; /* used */
  --border-radius-links: 5px;

  /* Headlines og rubrik */
  --font-h1-size: 48px;
  --font-sub1-size: 48px;
  --font-h2-size: 32px uppercase;
  --font-h3-size: 32px --font-weight-bold;
  --color-headline-bg: #000;
  --color-headline-text-page: ##ffffff;

  /* Tekst */
  --color-text: #000;
  --color-text-inverted: #fff;

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 0px;

  /* Cards */
  --color-card-bg: #fff;
  --color-cta-card-bg: #b67f81;
  /* news-cards */
  --color-news-bg: #c0a9d5;
  --color-news-bg-inverted: #fff;
  --color-cta-newscard-bg: #5f4477;
  --color-cta-newscard-bg-inverted: #432919;

  /* Fonts */
  --font-family-sans: "Montserrat", sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Text sizes */
  --logotype-size: 2rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 32px;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: none;
  --color-infobox-1-bg: #cfcec6;
  --color-infobox-2-bg: #969995;
}
