#form-section,
#form-summary {
  padding: 0;
}
#form-summary h2 {
  line-height: 3rem;
  text-align: center;
  padding-top: 5px;
}
#form-summary h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
#form-summary > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}
#form-summary p {
  font-size: 0.8rem;
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 0;
}
/* OVERSKRIFT */
#h1webformular {
  font-size: 48px;
}
/* FORMGROUP 1 */
.formsection1 {
  background-color: #b67f81;
}
#labelformgroup1 {
  color: white;
  font-size: 32px;
}
/* FORMGROUP 2 */
#personligeoplysninger {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #432919;
  font-weight: 800;
  font-style: bold;
}
#fuldenavnheadline {
  color: #432919;
  font-family: "Montserrat", sans-serif;
  font-weight: 1000;
}
#fulde_navn {
  background-color: white;
  border: none;
  width: 650px;
}
#cpr {
  background-color: white;
  border: none;
  width: 650px;
}
/* FORMGROUP 3 */
#antal_kaffe {
  background-color: #f2c045;
  border-radius: 0%;
  color: #432919;
  border: solid #5f4477;
  width: 200px;
}
#formgroup3_h2 {
  color: #432919;
}

#formgroup3 {
  background-color: #b67f81;
}
.grid_submit {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 20px;
}
/* OUTPUTBOX */
.bekraeftelse {
  background-color: #f2c045;
  height: 250px;
  border: #5f4477 solid 2px;
  color: #432919;
}
#vibehandlernudinsag {
  font-style: italic;
  margin-top: 10px;
}
/* GRID */
form {
  width: 700px;
}
/* KNAP */
#knap {
  color: #432919;
  border: solid 4px #5f4477;
  width: 150px;
  height: 75px;
  border-radius: 5px;
  background-color: #f2c045;
  font-size: 32px;
  align-self: center;
  justify-content: center;
}

button:hover {
  border: 5px;
  /* Hover states */
}
button:active {
  outline: 5px solid #5f4477;
  /* Pressed states */
}

.formgroup:has(:required) {
  label::after {
    content: " *";
    color: red;
  }
}
